
{% extends "base.html.twig" %}

{% block title 'Gérer les biens' %}

{% block body %}    
    <div class="container mt-4">
        <h1>Gérer les biens</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead class="table-success">
                <tr>
                    <th>Titre</td>
                    <th style="text-align: right;padding-right: 115px;">Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for house in properties %}
                    <tr>
                        <td>{{ house.title }}</td>
                        <td class="float-right">
                            <a href="{{ path ('admin.edit' , {id : house.id}) }}" class="btn btn-secondary">Edit</a>
                            <form method="post" action="{{ path('admin.delete', {id : house.id}) }}" 
                            style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sur de vouloir supprimer ce bien ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ house.id ) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.new')}}" class="btn btn-primary">Créer un nouveau bien</a>
        </div>
    </div>
{% endblock %}