{% extends "base.html.twig" %}

{% block title house.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    Erreur, veuillez introduire des valeurs valides !
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-8">
                {% if house.filename %}
                    <!-- <img src="/images/properties/{{ house.filename }}" class="card-img-top" alt="image"> -->
                    <!-- on peut auusi faire avc le VECH comme suit pour le meme resultat -->
                    <img src="{{ vich_uploader_asset(house, 'imageFile') | imagine_filter('medium') }}" 
                        class="card-img-top" alt="card-img-top" style="width:100%; height:auto;">
                {% else %}
                    <img src="{{ '/images/properties/MMA_maison-a-vendre.jpg' | imagine_filter('medium') }}"  
                        class="card-img-top" alt="image">
                {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ house.title }}</h1>
                    <h2>{{ house.rooms}} pièces - {{ house.surface }} m²</h2>
                    <div class="text-primary" style="font-size:4rem; font-weight:bold;">
                        {{ house.getFormattedPrice }} €
                    </div>
                    <a href="#" class="btn btn-primary">Nous Contacter</a>
                    <div id="contactForm" class="mt-2" >
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstname) }}</div>
                            <div class="col">{{ form_row(form.lastname) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(form.phone) }}</div>
                            <div class="col">{{ form_row(form.email) }}</div>
                        </div>
                        {{ form_rest(form) }} 
                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>                       
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">      
        <p>
            {{ house.description | nl2br }}
        </p>
        <div class="row">
            <div class="col-md-8">
                <h2>caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ house.surface}} m²</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ house.rooms}}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ house.bedrooms}}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{ house.floor}}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ house.heatType}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>spécificités</h2>
                <ul class="list-group">
                    {% for options in house.options %}
                        <li class="list-group-item">{{ options.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

