<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css">   
        <!-- <link rel="stylesheet" href="{{ asset('build/app.css') }}"> -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">Youva agency</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'maison' %}
                        active {% endif %}" href="{{ path('maison') }}">Acheter</a>
                    </li>
                </ul>

                {% if app.user %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="btn-group btn-group-item-action">
                                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Profil : Admin</button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('admin.index') }}" class="dropdown-item clearfix">admin.index</a></li>
                                    <li><a href="{{ path('option.index') }}" class="dropdown-item" style="">option.index</a></li>
                                </ul>
                            </div>
                            <!-- <a href="{{ path('admin.index') }}" class="btn btn-success dropbtn"> Profil : Admin</a> -->
                            <!-- <button type="button" class="btn btn-success" disabled>Profil : Admin</button> -->
                            <a href="{{ path('logout') }}" class="btn btn-primary">Se déconnecter</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a href="{{ path('login') }}" class="btn btn-primary">Se connecter</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% block body %}{% endblock %}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- <script src="{{ asset('build/app.js') }}"></script>      -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
            <script>
                $('select').select2();
            </script> -->
         
        {% block javascripts %}
            <!-- la commande script ne fonction pas ni ici ds ce block ni a l'exterieur en haut-->
            <!-- apparement elle a eter remplacer par la syntaxe encore_entry_link_tags -->
            <script src="{{ asset('build/app.js') }}"></script>    
            {{ encore_entry_script_tags('app') }}
               
            <script>
                // affiche le dropdown while mouse hover
                $(".dropdown-toggle").on("mouseenter", function () {
                    // make sure it is not shown:
                    if (!$(this).parent().hasClass("show")) {
                        $(this).click();
                    }
                });
            </script>

            <script>
                // ferme le dropdown while mouse not hovering the button
                $(".btn-group, .dropdown").on("mouseleave", function () {
                    // make sure it is shown:
                    if ($(this).hasClass("show")){
                        $(this).children('.dropdown-toggle').first().click();
                    }
                });
            </script>
        {% endblock %}
    </body>
</html>
